QuanLiThueXe/Connected Services/ServiceReference1/QLTXM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DanhSachThue">
        <s:complexType />
      </s:element>
      <s:element name="DanhSachThueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachThueResult" type="tns:ArrayOfHOPDONGTHUE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHOPDONGTHUE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HOPDONGTHUE" nillable="true" type="tns:HOPDONGTHUE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HOPDONGTHUE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SoDDT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaXe" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GiaThue" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MucGiamGia" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayThue" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayTra" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TrangThai" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaKH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaNV" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CHITIETXE" type="tns:CHITIETXE" />
          <s:element minOccurs="0" maxOccurs="1" name="KHACHHANG" type="tns:KHACHHANG" />
          <s:element minOccurs="0" maxOccurs="1" name="NHANVIEN" type="tns:NHANVIEN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CHITIETXE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaXE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenXE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BangSo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrangThai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MauSac" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DonGia" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaNCC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaKH" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MucGiamGia" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KHACHHANG" type="tns:KHACHHANG" />
          <s:element minOccurs="0" maxOccurs="1" name="LOAIXE" type="tns:LOAIXE" />
          <s:element minOccurs="0" maxOccurs="1" name="NHACUNGCAP" type="tns:NHACUNGCAP" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KHACHHANG">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaKH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GioiTinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NamSinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CMND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DienThoai" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOAIXE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaLoai" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenLoai" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NHACUNGCAP">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaNCC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenNCC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NHANVIEN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaNV" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GioiTinh" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgaySinh" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DienThoai" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DanhSachThueChuaThanhToan">
        <s:complexType />
      </s:element>
      <s:element name="DanhSachThueChuaThanhToanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachThueChuaThanhToanResult" type="tns:ArrayOfHOPDONGTHUE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhSachXe">
        <s:complexType />
      </s:element>
      <s:element name="DanhSachXeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhSachXeResult" type="tns:ArrayOfCHITIETXE1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCHITIETXE1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CHITIETXE1" nillable="true" type="tns:CHITIETXE1" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CHITIETXE1">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaXe" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GiaThue" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MucGiamGia" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LoaiXe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HangXe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BangSo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MauSac" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrangThai" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ThemHopDongThue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxe" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="makh" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="manv" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ngaythue" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ngaytra" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemHopDongThueResponse">
        <s:complexType />
      </s:element>
      <s:element name="CapNhatHopDong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sddt" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatHopDongResponse">
        <s:complexType />
      </s:element>
      <s:element name="ThanhToanTien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sddt" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThanhToanTienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ThanhToanTienResult" type="tns:ArrayOfTHANHTOAN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTHANHTOAN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="THANHTOAN" nillable="true" type="tns:THANHTOAN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="THANHTOAN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SoDDT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTenKH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTenNV" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GiaThueNgay" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayTra" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SoNgay" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayThue" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ThanhTien" nillable="true" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DanhSachThueSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachThue" />
  </wsdl:message>
  <wsdl:message name="DanhSachThueSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachThueResponse" />
  </wsdl:message>
  <wsdl:message name="DanhSachThueChuaThanhToanSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachThueChuaThanhToan" />
  </wsdl:message>
  <wsdl:message name="DanhSachThueChuaThanhToanSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachThueChuaThanhToanResponse" />
  </wsdl:message>
  <wsdl:message name="DanhSachXeSoapIn">
    <wsdl:part name="parameters" element="tns:DanhSachXe" />
  </wsdl:message>
  <wsdl:message name="DanhSachXeSoapOut">
    <wsdl:part name="parameters" element="tns:DanhSachXeResponse" />
  </wsdl:message>
  <wsdl:message name="ThemHopDongThueSoapIn">
    <wsdl:part name="parameters" element="tns:ThemHopDongThue" />
  </wsdl:message>
  <wsdl:message name="ThemHopDongThueSoapOut">
    <wsdl:part name="parameters" element="tns:ThemHopDongThueResponse" />
  </wsdl:message>
  <wsdl:message name="CapNhatHopDongSoapIn">
    <wsdl:part name="parameters" element="tns:CapNhatHopDong" />
  </wsdl:message>
  <wsdl:message name="CapNhatHopDongSoapOut">
    <wsdl:part name="parameters" element="tns:CapNhatHopDongResponse" />
  </wsdl:message>
  <wsdl:message name="ThanhToanTienSoapIn">
    <wsdl:part name="parameters" element="tns:ThanhToanTien" />
  </wsdl:message>
  <wsdl:message name="ThanhToanTienSoapOut">
    <wsdl:part name="parameters" element="tns:ThanhToanTienResponse" />
  </wsdl:message>
  <wsdl:portType name="QLTXMSoap">
    <wsdl:operation name="DanhSachThue">
      <wsdl:input message="tns:DanhSachThueSoapIn" />
      <wsdl:output message="tns:DanhSachThueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachThueChuaThanhToan">
      <wsdl:input message="tns:DanhSachThueChuaThanhToanSoapIn" />
      <wsdl:output message="tns:DanhSachThueChuaThanhToanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachXe">
      <wsdl:input message="tns:DanhSachXeSoapIn" />
      <wsdl:output message="tns:DanhSachXeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemHopDongThue">
      <wsdl:input message="tns:ThemHopDongThueSoapIn" />
      <wsdl:output message="tns:ThemHopDongThueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatHopDong">
      <wsdl:input message="tns:CapNhatHopDongSoapIn" />
      <wsdl:output message="tns:CapNhatHopDongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThanhToanTien">
      <wsdl:input message="tns:ThanhToanTienSoapIn" />
      <wsdl:output message="tns:ThanhToanTienSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QLTXMSoap" type="tns:QLTXMSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DanhSachThue">
      <soap:operation soapAction="http://tempuri.org/DanhSachThue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThueChuaThanhToan">
      <soap:operation soapAction="http://tempuri.org/DanhSachThueChuaThanhToan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachXe">
      <soap:operation soapAction="http://tempuri.org/DanhSachXe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemHopDongThue">
      <soap:operation soapAction="http://tempuri.org/ThemHopDongThue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatHopDong">
      <soap:operation soapAction="http://tempuri.org/CapNhatHopDong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThanhToanTien">
      <soap:operation soapAction="http://tempuri.org/ThanhToanTien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QLTXMSoap12" type="tns:QLTXMSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DanhSachThue">
      <soap12:operation soapAction="http://tempuri.org/DanhSachThue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThueChuaThanhToan">
      <soap12:operation soapAction="http://tempuri.org/DanhSachThueChuaThanhToan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachXe">
      <soap12:operation soapAction="http://tempuri.org/DanhSachXe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemHopDongThue">
      <soap12:operation soapAction="http://tempuri.org/ThemHopDongThue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatHopDong">
      <soap12:operation soapAction="http://tempuri.org/CapNhatHopDong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThanhToanTien">
      <soap12:operation soapAction="http://tempuri.org/ThanhToanTien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QLTXM">
    <wsdl:port name="QLTXMSoap" binding="tns:QLTXMSoap">
      <soap:address location="http://localhost:50038/QLTXM.asmx" />
    </wsdl:port>
    <wsdl:port name="QLTXMSoap12" binding="tns:QLTXMSoap12">
      <soap12:address location="http://localhost:50038/QLTXM.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>